@model Product
@{
    ViewBag.Title = $"{ViewBag.Operation} Item";
}
<h1>@ViewBag.Operation Item</h1>
<form asp-action="AddEdit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" name="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>